<nav class="nav bg-light padding">
    <li>
        <%= link_to 'Inicio', root_path, class: "nav-link" %>
    </li>
    <li>
        <%= link_to 'Articulos', articles_path, class: "nav-link" %>
    </li>
    <li>
        <%= link_to 'Escribir', new_articles_path, class: "nav-link" %>
    </li>
</nav>