<div class="large-container center-block">
    <h1>Bienvenido <%= current_user.email %></h1>
</div>
<div class="large-container center-block">
    Escribe articulos para toda una comunidad y comparte lo que piensas. 
</div>